.my-4{
     padding-bottom: 25%;
}
.my-4 h1{
       font-size: 70px;
}
 /* Courses */
 .mt-5{
        
       text-align: center;
 }
 @media only screen and (max-width: 991px) {
    .mx-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 767px) {
    .container .mx-1{
           display: none;
    
}
}