.my-4{
     padding-bottom: 25%;
}
.my-4 h1{
       font-size: 70px;
}
 /* Courses */

 .mt-5{
        
       text-align: center;
 }
 @media only screen and (max-width: 991px) {
    .mx-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 767px) {
    .my-1{
           display: none;
          
    
}
}
.pe-1{
      margin-left: 50%;
}
/* extra */
.py-1{
     margin-top: 30%;
}
/* main extra */
.h6{
     text-decoration: none;
       padding-left: 50%;
}
.panda-bg-body{
             color: gold;
}
.big-bg-body{
            color: goldenrod;
}
.pnga-mx-1{
     margin-left: 30%;
     margin-top: 10px;
    
}
/* top */
.top-banner-bg-info{
       
          text-align: center;
}
.big-bg-warning{
               padding-left: 10px;
}